<main class="contenedor panel-administracion">
    <h1><%- nombrePagina%></h1>
    <button type="button" class="btnCodigo btn-rosaCodigo text-uppercase">Bievenido <%- usuario%></button>

    <div class="contenedor-botones my-4">
        <a href="/administracion/nuevo-grupo" class="btnCodigo btn-amarillo" style="text-decoration: none">Nuevo Grupo</a>
        <a href="/administracion/nuevo-meeti" class="btnCodigo btn-azul" style="text-decoration: none">Nuevo Meeti</a>
        <a href="/administracion/editar-perfil" class="btnCodigo btn-rosaCodigo" style="text-decoration: none">Editar Perfil</a>
        <a href="/administracion/imagen-perfil" class="btnCodigo btn-amarillo" style="text-decoration: none">Imagen P.</a>
    </div>

    <div class="seccion-admin">
        <h2>Tus Eventos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Miercoles, 30 de abril de 2025<p>
                    <h3>E-Commerce en México</h3>
                    <small>23 asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="" class="btnCodigo btn-verde" style="text-decoration: none">Editar</a>
                    <a href="" class="btnCodigo btn-azul2" style="text-decoration: none">Asistentes</a>
                    <a href="" class="btnCodigo btn-rojo" style="text-decoration: none">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Miercoles, 30 de abril de 2025<p>
                    <h3>Desarrollo de Software</h3>
                    <small>35 asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="" class="btnCodigo btn-verde" style="text-decoration: none">Editar</a>
                    <a href="" class="btnCodigo btn-azul2" style="text-decoration: none">Asistentes</a>
                    <a href="" class="btnCodigo btn-rojo" style="text-decoration: none">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <ul id="listaGrupos">
        </ul>
    </div>

<!--    //Modal Edicion de Grupos-->
    <div class="modal fade" id="modalEdicionGrupo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title fw-semibold">Edicion de Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="cerrrar"></button>
                </div>

                <div class="modal-body">
                    <form action="#" method="post" id="formActualizacionGrupo" class="default-form" enctype="multipart/form-data">
                        <div id="divAlertasUpdate"></div>
                        <input type="hidden" id="idGrupo" name="idGrupo">

                        <div class="campo">
                            <label for="nombre" class="fw-semibold">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre del Grupo" required >
                        </div>
                        <div class="campo descripcion">
                            <label for="descripcion" class="fw-semibold">Descripcion</label>
                            <div class="contenedor-editor">
                                <input type="hidden" id="x" name="descripcion" required>
                                <trix-editor input="x"></trix-editor>
                            </div>
                        </div>

                        <div class="campo">
                            <label for="imagen" class="fw-semibold">Imagen:</label>
                            <input type="file" name="imagen" id="imagen" required>
                        </div>

                        <div class="campo">
                            <label for="categorias" class="fw-semibold">Categoria:</label>
                            <select name="categorias" id="categorias" required>
                                <option value="" selected disabled>--- Selecciona una opción ---</option>
                                <% categorias.forEach(function (categoria) {%>
                                    <option value="<%=categoria.id%>"><%= categoria.nombre%></option>
                                <%})%>
                            </select>
                        </div>

                        <div class="campo">
                            <label for="sitio_web" class="fw-semibold">Sitio Web:</label>
                            <input type="url" name="sitio_web" id="sitio_web">
                        </div>

                        <div class="campo enviar">
                            <input type="submit" class="btnCodigo btn-rosaCodigo" value="Actualizar Grupo">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/administracion.js"></script>