<main class="contenedor contenedor-formularios">
    <h1><%- nombrePagina%></h1>

    <form action="#" method="post" id="formIniciarSesion" class="default-form">
        <div class="container-xl">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div id="divAlertas"></div>
                </div>
            </div>
        </div>

        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email de usuario">
        </div>
        <div class="campo">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password del usuario">
        </div>

        <div class="campo enviar">
            <button type="submit" class="btnCodigo btn-rosaCodigo text-uppercase">Iniciar Sesión</button>
        </div>
    </form>
</main>

<script src="/js/iniciarSesion.js"></script>